// out: ../css/style.css, outputStyle: expanded
@import 'imports/reset';
@import 'imports/fonts';
@import 'imports/base';
@import 'imports/main';
@import 'imports/news';
@import 'imports/form';
@import 'imports/blog';
@import 'imports/programs';
@import 'imports/contacts';
@import 'imports/page';

.request {
    &-mainTitle {
        font-size: 36px;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
        @media(min-width: 992px) {
            margin-top: 95px;
            margin-bottom: 40px;
        }
    }

    &-title {
        font-family: "Gilroy-ExtraBold";
        font-size: 14px;
        text-transform: uppercase;

        span {
            font-family: "Gilroy-Light";
        }
    }

    &-formData {
        max-width: 846px;
        width: 100%;
        margin: 35px auto 25px;
        @media(min-width: 768px) {
            margin: 66px auto 30px;
        }
        @media(min-width: 992px) {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-between;
        }

        &_item {
            margin-bottom: 25px;
            @media(min-width: 992px) {
                margin-bottom: 0;
            }

            .request-title {
                margin-bottom: 25px;
                text-align: center;
                @media(min-width: 992px) {
                    text-align: left;
                    margin-bottom: 40px;
                }
            }

            label {
                margin-bottom: 15px;
                @media(min-width: 992px) {
                    margin-bottom: 22px;
                }
            }

            &:first-child {
                @media(min-width: 992px) {
                    max-width: 227px;
                    width: 100%;
                }

                label {
                    width: 100%;
                    display: block;
                    height: 42px;
                    margin-bottom: 8px;

                    input {
                        width: 100%;
                        height: 42px;
                        padding: 0 14px;
                        background: #F4F4F4;
                        text-transform: uppercase;
                        border: none;
                        font-size: 12px;
                    }
                }
            }

            &:nth-child(2) {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media(min-width: 992px) {
                    align-items: baseline;
                }

                .request-formData_item__inner {
                    display: -webkit-flex;
                    display: -ms-flex;
                    display: flex;

                    span {
                        width: 113px;
                    }

                    label {
                        width: 118px;
                    }
                }
            }

            &:last-child {
                .request-formData_item__inner {
                    @media(min-width: 992px) {
                        max-width: 482px;
                        width: 100%;
                        display: -webkit-flex;
                        display: -ms-flex;
                        display: flex;

                        label {
                            &:first-Child {
                                margin-right: 25px;
                            }
                        }
                    }
                }
            }

            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }

    input::-webkit-input-placeholder {
        color: black;
    }

    input::-moz-placeholder {
        color: black;
    }

    input:-moz-placeholder {
        color: black;
    }

    input:-ms-input-placeholder {
        color: black;
    }

    &-personalData {
        label {
            display: block;
            height: 28px;

            input {
                height: 28px;
                width: 100%;
                border: none;
                border-bottom: 1px solid #BBBCBE;
                text-transform: uppercase;
                font-size: 14px;
            }
        }

        span {
            font-size: 14px;
            text-transform: uppercase;
        }
    }

    &-aboutUs {
        font-size: 14px;

        p {
            &:not(:last-child) {
                margin-bottom: 18px;
            }
        }
    }
}

.focus-animate {
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        left: -100%;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #BBBCBE;
        transition: 0.5s;
    }
}

.focus-animate.active {
    &:after {
        left: 0;
    }
}

.present-course {
    text-align: center;

    .request-title {
        position: relative;
        padding-left: 55px;
        padding-right: 42px;
        cursor: pointer;

        &:hover:after {
            display: block;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 42px;
            height: 42px;
            background: url("../img/present-icon.png") no-repeat center;
        }

        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: -8px;
            width: 26px;
            height: 26px;
            background: url("../img/christmas-gift.png") no-repeat center;
            display: none;
        }
    }
}

.num-inp[type="number"]::-webkit-outer-spin-button,
.num-inp[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.num-inp[type="number"] {
    -moz-appearance: textfield;
}

.num-inp[type="number"]:hover,
.num-inp[type="number"]:focus {
    -moz-appearance: none;
}

.num-inp[type=number]::-webkit-inner-spin-button,
.num-inp[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.radioBtn {
    display: none;
}

.radioBtn + label {
    position: relative;
    display: inline-block;
    padding-left: 50px;
    padding-top: 13px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    min-width: 72px;
}

.radioBtn + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: white;
    display: inline-block;
    box-shadow: 0 1px 8px rgba(95, 95, 95, 0.43);
    margin: -5px 5px 0 0;
    height: 32px;
    width: 31px;
}

.radioBtn + label:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 12px;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background: #e2543c;
    display: none;
}

.radioBtn:checked + label:after {
    display: block;
}

.radioBtn:checked + label {
    font-family: "Gilroy-ExtraBold";
}

.request-rights {
    margin: 25px 0;
    padding-bottom: 50px;
    border-bottom: 2px solid #E1533B;

    .request-title {
        margin-bottom: 27px;
        text-align: center;
    }
    @media(min-width: 992px) {
        margin: 55px 0 41px;
    }

    &_item {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;

        &__inner {
            &:first-child {
                margin-right: 20px;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    left: -62px;
                    top: 7px;
                    width: 40px;
                    height: 27px;
                    background: url("../img/rights-icon.png") no-repeat center;
                }
            }
        }
    }
}

.border-inp {
    border: none;
    border-bottom: 1px solid #C2C3C5;
    font-size: 14px;
    background: none;
    height: 28px;
    padding: 0 4px;
}

.request-select {
    .ui-button {
        width: 227px !important;
        background: none;
        margin: 0;
        border: none;
        padding: 0;
        height: 40px;
        line-height: 40px;
        color: #373b40;
        font-size: 12px;
        text-transform: uppercase;
        border-bottom: 1px solid #C2C3C5;

        &:focus,
        &:hover {
            background: none;
            outline: none;
            color: #373b40;
            border: none;
            border-bottom: 1px solid #C2C3C5;
        }
    }

    .ui-selectmenu-icon.ui-icon {
        width: 12px;
        height: 6px;
        background: url("../img/select-arrow.png") no-repeat center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    .ui-selectmenu-button-open .ui-selectmenu-icon.ui-icon {
        background: url("../img/select-arrow-up.png") no-repeat center;
    }

    .ui-widget.ui-widget-content {
        border: 1px solid #43BD85;
        padding: 0;
    }

    .ui-menu .ui-menu-item > div {
        padding: 0;
        background: none;
        margin: 0;
        border: none;
        padding: 0;
        height: 40px;
        line-height: 40px;
        text-indent: 10px;
    }

    .ui-widget-content .ui-state-active {
        border: none;
        margin: 0;
    }
}

.request-hidden {
    &_top {
        @media(min-width: 992px) {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            padding: 0 30px;
        }

        &__item {
            margin-bottom: 25px;
            text-align: center;
            @media(min-width: 992px) {
                &:not(:last-child) {
                    margin-right: 64px;
                }

                p {
                    padding-top: 15px;
                    margin-right: 24px;
                }
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
            }

            label {
                display: inline-block;
                width: 54px;

                input {
                    width: 100%;
                }
            }
            @media(min-width: 992px) {
                margin-bottom: 48px;
            }
        }
    }

    &_bottom {
        border-top: 4px solid #F4F4F4;
        @media(min-width: 992px) {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
        }

        .request-title {
            text-align: center;
            margin-bottom: 22px;
            @media(min-width: 992px) {
                text-align: left;
            }
        }

        &__item {
            padding-bottom: 32px;
            padding-top: 10px;
            @media(min-width: 992px) {
                padding-top: 30px;
            }

            &:nth-child(3) {
                @media(min-width: 992px) {
                    margin: 0 32px;
                }
            }

            ul {
                text-align: center;
            }

            &:first-child {
                @media(min-width: 992px) {
                    padding-left: 25px;
                    margin-right: 32px;
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 4px;
                        height: 100%;
                        background: #F4F4F4;
                    }
                }
                @media(min-width: 1280px) {
                    padding-right: 56px;
                }

                ul {
                    display: -webkit-flex;
                    display: -ms-flex;
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 258px;
                    width: 100%;
                    margin: 0 auto;
                    @media(min-width: 400px) {
                        max-width: 333px;
                        width: 100%;
                    }
                    @media(min-width: 992px) {
                        max-width: 260px;
                        width: 100%;
                        margin-left: 0;
                    }

                    li {
                        &:not(:last-child) {
                            margin-right: 13px;
                            margin-bottom: 17px;
                        }
                    }
                }
            }

            &:nth-child(2) {
                ul {
                    li {
                        &:first-child {
                            margin-bottom: 25px;
                        }

                        label {
                            display: inline-block;
                            margin: 0 10px;
                        }
                    }
                }
            }

            &:nth-child(3),
            &:nth-child(4) {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                flex-direction: column;
                align-items: center;

                ul {
                    text-align: left;

                    li {
                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

.request-questions {
    &_top {
        padding: 22px 10px;
        background: #F2F2F2;
        box-shadow: 0 1px 8px rgba(95, 95, 95, 0.16);
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        @media(min-width: 768px) {
            padding: 22px 30px;
        }

        span {
            font-family: "Gilroy-ExtraBold";
            font-size: 12px;
            text-transform: uppercase;
            color: #C2C3C5;
            cursor: pointer;
            @media(max-width: 767px) {
                display: none;
            }
        }

        .request-title {
            position: relative;
            padding-right: 62px;
            cursor: pointer;

            &:after {
                content: "";
                position: absolute;
                right: 0;
                top: 2px;
                width: 23px;
                height: 12px;
                background: url("../img/inner-arrow-d.png") no-repeat center;
                transition: 0.5s;
                transform: rotate(-90deg);
            }
        }

        .request-title.active {
            &:after {
                transform: rotate(0deg);
            }
        }
    }
}

.request-questions_item {
    ol {
        list-style-type: none;
        counter-reset: num;

        li {
            text-align: center;
            padding: 14px 10px 16px;
            background: #E8E8E8;
            position: relative;

            &:after {
                font-family: "Gilroy-ExtraBold";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                content: '' counter(num);
                counter-increment: num;
                font-size: 48px;
                color: white;
                @media(max-width: 992px) {
                    display: none;
                }
                @media(min-width: 1280px) {
                    right: 130px;
                }
            }

            &:first-child {
                border-bottom: 4px solid white;
            }
            @media(min-width: 768px) {
                text-align: left;
                padding: 14px 30px 16px;
            }

            &:nth-child(3) {
                background: #F2F2F2;
            }
        }
    }
}

.request-questions_list {
    @media(min-width: 768px) {
        max-width: 846px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.request-questions_inner {
    .request-questions_inner__item {
        &:first-child {
            margin: 25px 0;

            label {
                margin: 0 10px 10px 0;
            }
        }

        &:last-child {
            input {
                width: 227px;
                height: 38px;
                padding: 0;
                text-transform: uppercase;
            }
        }
    }
}

.request-lessons {
    @media(min-width: 992px) {
        padding: 0 0 0 30px;
    }

    &_inner {
        border-bottom: 4px solid #F4F4F4;
        margin-bottom: 20px;
        @media(min-width: 768px) {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
        }
    }

    &_title {
        padding: 25px 0;
        text-align: center;
        @media(min-width: 768px) {
            text-align: left;
        }
        @media(min-width: 992px) {
            padding: 35px 0;
        }
    }

    &_item {
        margin-bottom: 25px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:first-child {
            position: relative;
            @media(min-width: 768px) {
                padding-right: 20px;
                margin-right: 32px;
            }
            @media(min-width: 1280px) {
                padding-right: 78px;
            }

            &:after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                width: 4px;
                height: 100%;
                background: #F4F4F4;
            }
        }

        &:nth-child(2) {
            @media(min-width: 768px) {
                margin-right: 38px;
            }
        }

        &:last-child {
            label {
                span {
                    font-family: "Gilroy-Light";
                    text-transform: none;
                }
            }
        }
        @media(min-width: 768px) {
            align-items: flex-start;
            text-align: left;
            margin-bottom: 0;
            padding-bottom: 18px;
        }

        .request-title {
            margin-bottom: 23px;
        }

        ul {
            li {
                margin-bottom: 17px;
            }
        }
    }
}

.request-dtpInfo {
    .request-title {
        font-size: 12px;
    }

    ul {
        li {
            margin-bottom: 13px;
            text-align: center;
            @media(min-width: 768px) {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                text-align: left;
                justify-content: space-between;
                // align-items: end;
            }

            label {
                width: 55px;
                display: inline-block;

                input {
                    padding-left: 22px;
                    width: 100%;
                }
            }

            &:nth-child(1),
            &:nth-child(2) {
                @media(min-width: 768px) {
                    max-width: 588px;
                    width: 100%;

                    p {
                        padding-top: 16px;
                    }
                }
            }

            &:nth-child(3) {
                @media(min-width: 768px) {
                    max-width: 840px;
                    width: 100%;

                    p {
                        padding-top: 15px;
                    }
                }

                label {
                    display: inline-block;
                    padding-left: 35px;
                    height: 37px;

                    &:before {
                        width: 19px;
                        height: 19px;
                        top: 16px;
                    }

                    &:after {
                        width: 13px;
                        height: 12px;
                        left: 3px;
                        top: 14px;
                    }
                }
            }

            &:last-child {
                input {
                    width: 100%;
                }
            }
        }
    }
    @media(min-width: 992px) {
        padding: 0 0 0 30px;
    }
}

.request-dtpInfo_hidden {
    width: 100%;
}
