extends layout.pug
block vars
	- var title = 'Старница одной статьи';
block header
	include includes/header.pug
block content
	include includes/content-page.pug
block footer
	include includes/footer.pug
