.news-wrap {
    padding: 25px 0;
    @media(min-width: 992px) {
        padding: 70px 0;
    }
}

.article-link {
    padding: 25px 0;
    text-align: right;
    @media(min-width: 992px) {
        .btn {
            margin: 0;
        }
        padding: 70px 55px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-end;
    }
}

.news {
    padding: 25px 10px;
    position: relative;

    &-thumb {
        padding-bottom: 20px;
    }

    &-img {
        img {
            width: 100%;
        }
        @media(min-width: 768px) {
            img {
                max-width: 100%;
            }
            width: 225px;
        }
    }

    &-content_hidden {
        display: none;
    }

    .article-title {
        margin-bottom: 19px;
    }

    .article-date,
    .article-hash {
        margin-bottom: 15px;
        @media(min-width: 768px) {
            margin-bottom: 26px;
        }
    }

    .article-date {
        @media(min-width: 768px) {
            margin-right: 25px;
        }
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #C9CCCB;
    }

    &-article {
        p {
            font-size: 14px;

            &:not(:last-child) {
                margin-bottom: 22px;
            }
        }
    }

    &-item {
        &:last-child {
            @media(min-width: 768px) {
                padding-left: 32px;
            }
        }
    }
    @media(min-width: 768px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        padding: 25px 32px;
    }
}

.news-item_inner {
    @media(min-width: 768px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
    }
}

.news-content_hidden__img {
    margin-bottom: 28px;
}
