.inner-top
	//- video(autoplay muted loop)
	//- 	source(src="video/drift.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
.inner-cont
	h1.main-title.main-title_news О компании
.aboutCompany
	.inner-cont
		.aboutCompany-advantage
			.aboutCompany-advantage_item
				.aboutCompany-advantage_img
					img(src="img/car.png")
				.aboutCompany-advantage_title
					b 25 
					|лет		
				p Мы умеем работать не только с опытными и профессиональными водителями, но и 
					b с абсолютными новичками.
				a(href="#").btn.recallForm-btn Посмотреть программы	
			.aboutCompany-advantage_item
				.aboutCompany-advantage_img
					img(src="img/flag.png")
				.aboutCompany-advantage_title
					|собственный <br>автодром			
				p Мы твердо убеждены, что заниматься необходимо на том автомобиле, на котором вы ездите. Но при необходимости наши партнеры предоставят 
					b машину в аренду.
				a(href="#").btn.programsArticle-btn Наши контакты
			.aboutCompany-advantage_item
				.aboutCompany-advantage_img
					img(src="img/road.png")
				.aboutCompany-advantage_title
					|миссия			
				p 
					b Сделать дороги, 
					|по которым мы ездим, 
					b безопаснее 
					|в целом.
				p Цель занятий с вами - сделать дороги безопаснее именно для вас
				a(href="#").btn.recallForm-btn проконсультироваться
		.news-article
			p Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем
			p Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблемУверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем
		.aboutCompany-phone
			p контактный номер для связи
			a(href="tel:74951270927") +7 (495) 
				b 127-09-27 	
	.aboutCompany-slider_wrap
		.inner-cont
			p.article-title преподаватели:
			.aboutCompany-slider.owl-carousel
				.aboutCompany-slider_item
					.aboutCompany-slider_img
						img(src="img/master.jpg")
					span Курсы:
					ul
						li - “Безопасный стиль управления”
						li -  “Безопасный стиль управления”

				.aboutCompany-slider_item
					.aboutCompany-slider_img
						img(src="img/master.jpg")
					span Курсы:
					ul
						li - “Безопасный стиль управления”
						li -  “Безопасный стиль управления”

				.aboutCompany-slider_item
					.aboutCompany-slider_img
						img(src="img/master.jpg")
					span Курсы:
					ul
						li - “Безопасный стиль управления”
						li -  “Безопасный стиль управления”

				.aboutCompany-slider_item
					.aboutCompany-slider_img
						img(src="img/master.jpg")
					span Курсы:
					ul
						li - “Безопасный стиль управления”
						li -  “Безопасный стиль управления”
				.aboutCompany-slider_item
					.aboutCompany-slider_img
						img(src="img/master.jpg")
					span Курсы:
					ul
						li - “Безопасный стиль управления”
						li -  “Безопасный стиль управления”
	.aboutCompany-history
		.aboutCompany-history_inner
			.aboutCompany-history_title
				p.article-title наша История 
			ul.aboutCompany-history_list
				li 
					.aboutCompany-history_date 2019 
						span г
					.aboutCompany-history_hidden
						b новый автодром
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей 
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
				li 
					.aboutCompany-history_date 2010 
						span г
					.aboutCompany-history_hidden
						b новый автодром
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей 
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.	
				li 
					.aboutCompany-history_date 2007
						span г
					.aboutCompany-history_hidden
						b новый автодром
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей 
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
				li 
					.aboutCompany-history_date 2007
						span г
					.aboutCompany-history_hidden
						b новый автодром
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей 
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.						
			.aboutCompany-history_btn
				button(type="button").aboutCompany-history_next Показать все


include form.pug
include letters.pug
