.inner-top
	//- video(autoplay muted loop)
	//- 	source(src="video/drift.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
	.inner-cont
		h1.main-title.main-title_news Заявка на обучение

.request
	.inner-cont
		.contTabs
			a.contTabs-btn(href="#tab-cont_1") Физическим лицам
			a.contTabs-btn(href="#tab-cont_2") Юридическим лицам

		.contTabs-cont#tab-cont_1
			h2.article-title.request-mainTitle Форма заявки
			form.request-form
				.present-course
					span.request-title Подарить курс
				.request-formData
					.request-formData_item
						label.focus-animate
							input(type="text" placeholder="Фамилия")
						label.focus-animate
							input(type="text" placeholder="Имя*" required)
						label.focus-animate
							input(type="text" placeholder="Отчество")

					.request-formData_item.request-personalData
						p.request-title персональные данные
						.request-formData_item__inner
							span Возраст
							label
								input(type="number").num-inp
						.request-formData_item__inner
							span дата <br> Рождения
							label
								input(type="date")
					.request-formData_item.request-personalData
						p.request-title Контактные данные
						.request-formData_item__inner
							label
								input(type="text" placeholder="e-mail 1")
							label
								input(type="text" placeholder="Телефон*" required).recallForm-phone
						.request-formData_item__inner
							label
								input(type="text" placeholder="e-mail 2")
							label
								input(type="text" placeholder="Телефон").recallForm-phone
				.request-aboutUs
					p Наш почти 30ти летний опыт работы говорит о том, что очень часто будущие ученики либо значительно занижают, либо наоборот завышают свои реальные навыки по управлению автомобилем. Самокритика хороша, но НЕ в случае обучения приемам выживания на дороге при управлении автомобилем! Нам и Вам нужна объективная информация. Для того, что мы во время телефонного разговора задавали меньше уточняющих вопросов и смогли предложить Вам наиболее подходящую по содержанию, стоимости и срокам учебно-тренировочную программу, пожалуйста, заполните поля формы, которую Вы видите ниже этого текста, по возможности полнее.
					p Если этого не сделать, то нам все равно придется задать эти же вопросы, но уже при разговоре по телефону, а Вам ответить на них. Иначе нам будет сложно понять, что же Вам подойдет наилучшим образом из тех программ, которые мы разработали для Вас		
				.request-rights
					p.request-title Наличие водительского удостоверения
					.request-rights_item
						.request-rights_item__inner
							input(type="radio" name="rights").radioBtn#rights-y
							label(for="rights-y") да
						.request-rights_item__inner
							input(type="radio" name="rights").radioBtn#rights-n
							label(for="rights-n") нет	
				.request-hidden
					.request-hidden_top
						.request-hidden_top__item
							p.request-title
								span Ваш ВОДИТЕЛЬСКИЙ СТАЖ 
								|по водительскому удостоверению
							label
								input(type="text" placeholder="30 лет").border-inp
						.request-hidden_top__item
							p.request-title
								span Ваш 
								|реальный ВОДИТЕЛЬСКИЙ СТАЖ
							label
								input(type="text" placeholder="40 лет").border-inp
					.request-hidden_bottom
						.request-hidden_bottom__item
							p.request-title 
								span Открытые 
								|ОСНОВНЫЕ категории<br> 
								span водительского удостоверения
							ul
								li
									input(type="checkbox" name="rights-a").radioBtn#rights-a
									label(for="rights-a") A
								li
									input(type="checkbox" name="rights-b").radioBtn#rights-b
									label(for="rights-b") B
								li
									input(type="checkbox" name="rights-c").radioBtn#rights-c
									label(for="rights-c") C
								li
									input(type="checkbox" name="rights-d").radioBtn#rights-d
									label(for="rights-d") D									
						.request-hidden_bottom__item
							p.request-title Марка 
								span личного автомобиля
								ul
									li
										input(type="checkbox" name="has-car").radioBtn#has-car_y
										label(for="has-car_y") Есть
										input(type="checkbox" name="has-car").radioBtn#has-car_n
										label(for="has-car_n") Нет
									li
										.request-select
											select.filter
												option автомобиль мужа
												option автомобиль мужа
												option автомобиль мужа
												option автомобиль мужа

						.request-hidden_bottom__item
							p.request-title Тип коробки передач
							ul
								li
									.request-select
										select.filter
											option Ручная
											option Автомат
								li
									input(type="checkbox" name="type-tr").radioBtn#type-tr
									label(for="type-tr") Не знаю

						.request-hidden_bottom__item
							p.request-title Тип привода 
								span ведущих колес
							ul
								li
									.request-select
										select.filter
											option Передний
											option Задний
								li
									input(type="checkbox" name="driveUnit").radioBtn#driveUnit
									label(for="driveUnit") Не знаю
					.request-questions
						.request-questions_top
							p.request-title дополнительные вопросы
							span пропустить
						.request-questions_hidden
							.request-questions_item
								ol
									li
										.request-questions_list
											p.request-title Марка автомобиля мужа/жены, 
												span которым Вы иногда будете управлять
											.request-questions_inner
												.request-questions_inner__item
													input(type="radio" name="car-type").radioBtn#car-type_y
													label(for="car-type_y") Есть
													input(type="radio" name="car-type").radioBtn#car-type_n
													label(for="car-type_n") Нет
												.request-questions_inner__item
													input(type="text" placeholder="Audi A7 Sportback II").border-inp
									li
										.request-questions_list
											p.request-title Как часто 
												span вы управляете автомобилем по дорогам города?
											.request-questions_inner
												.request-select
													select.filter
														option давно не управлял
														option давно не управлял 	 
														option давно не управлял
									li
										.request-questions_list
											p.request-title
												span Как предполагаете 
												|использовать 
												span автомобиль?
											.request-questions_inner
												.request-select
													select.filter
														option Езжу на дачу
														option Езжу на дачу 	 
														option Езжу на дачу
									li
										.request-questions_list
											p.request-title
												span Чему хотите научиться ?
											.request-questions_inner
												.request-select
													select.filter
														option не попасть в аварии зимой
														option не попасть в аварии зимой 	 
														option не попасть в аварии зимой			
				.request-lessons
					p.request-title.request-lessons_title тип занятий
					.request-lessons_inner
						.request-lessons_item
							p.request-title 
								span выберите подходящий для вас <br>тип занятий
							ul
								li
									input(type="radio" name="lesson").radioBtn#lesson-group
									label(for="lesson-group") В группе
								li
									input(type="radio" name="lesson").radioBtn#lesson-personal
									label(for="lesson-personal") индивидуально
						.request-lessons_item
							p.request-title 
								span Ваши 
								|пожелания по срокам<br> 
								span занятий
								.request-select
									select.filter
										option Побыстрее
										option Медленнее	 
										option Побыстрее
						.request-lessons_item
							p.request-title 
								span На каком автомобиле планируете<br> заниматься?
							ul
								li
									input(type="radio" name="which-car").radioBtn#personal-car
									label(for="personal-car") личный автомобиль
								li
									input(type="radio" name="which-car").radioBtn#renta-car
									label(for="renta-car") прокат автомобиля 
										span (Потребуется дополнительная оплата)
				.request-dtpInfo
					ul
						li
							p.request-title Количество ДТП, в которых Вам пришлось побывать 
								span в качестве водителя?
							label
								input(type="number" placeholder="0").num-inp.border-inp
						li
							p.request-title Количество ДТП, в которых Вам пришлось побывать 
								span в качестве пассажира?
							label
								input(type="number" placeholder="0").num-inp.border-inp
						li
							p.request-title 
								span Есть ли у Вас какие либо 
								|физиологические особенности, 
								span которые тренеру необходимо учесть во время занятий?
							input(type="checkbox" name="comment").radioBtn#comment
							label(for="comment") Да
						li
							.request-dtpInfo_hidden
								input(type="text" placeholder="Подробности").border-inp 










		.contTabs-cont#tab-cont_2

include letters.pug
