.main-video
	.video-slider.owl-carousel
		.video-slider_item
			p Безаварийное<br> 
				span вождение
		.video-slider_item
			p Тест Тест Тест<br> 
				span Тест
		.video-slider_item
			p Lorem ipsum dolor<br>
				span Lorem 


	video(autoplay muted loop)
		source(src="video/iceweb.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
		//- source(src="video/drift3.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

	<div class="transmission-wrap">
		<div class="transmission">

			<div class="transmission-line">
				<div class="transmission-line_inner">
					<div id="tr-progressBar"></div>
				</div>
			</div>

			<div class="transmission-item" id="tr-1">

				<div class="transmission-article active" id="article-1">
					<p>Габариты</p>
					<span>И секреты парковки</span>
					<div class="transmission-article_links">
						<a href="#">Перейти</a>
						<a href="#">Другие программы</a>
					</div>
				</div>

				<div class="transmission-num num-pos-1 active" id="num-1">
					<div class="transmission-num_item">
						<div class="transmission-num_number">1</div>
						<div class="transmission-num_line">
							<div class="transmission-num_pb active" id="numPb-1"></div>
						</div>
					</div>
				</div>

				<div class="transmission-num num-pos-2" id="num-3">
					<div class="transmission-num_item">
						<div class="transmission-num_number">3</div>
						<div class="transmission-num_line">
							<div class="transmission-num_pb" id="numPb-2"></div>
						</div>
					</div>
				</div>

				<div class="transmission-num num-pos-3" id="num-2">
					<div class="transmission-num_item">
						<div class="transmission-num_number">2</div>
						<div class="transmission-num_line">
							<div class="transmission-num_pb" id="numPb-3"></div>
						</div>
					</div>
				</div>

			</div>

			<div class="transmission-item" id="tr-2">

				<div class="transmission-article" id="article-2">
					<p>Габариты</p>
					<span>И секреты парковки</span>
					<div class="transmission-article_links">
						<a href="#">Перейти</a>
						<a href="#">Другие программы</a>
					</div>
				</div>

				<div class="transmission-article" id="article-3">
					<p>Габариты</p>
					<span>И секреты парковки</span>
					<div class="transmission-article_links">
						<a href="#">Перейти</a>
						<a href="#">Другие программы</a>
					</div>
				</div>

				<div class="transmission-num num-pos-3" id="num-4">
					<div class="transmission-num_item">
						<div class="transmission-num_number">4</div>
						<div class="transmission-num_line">
							<div class="transmission-num_pb" id="numPb-4"></div>
						</div>
					</div>
				</div>

				<div class="transmission-num num-pos-2" id="num-5">
					<div class="transmission-num_item">
						<div class="transmission-num_number">5</div>
						<div class="transmission-num_line">
							<div class="transmission-num_pb" id="numPb-5"></div>
						</div>
					</div>
				</div>

			</div>

			<div class="transmission-item" id="tr-3">

				<div class="transmission-article" id="article-4">
					<p>Габариты</p>
					<span>И секреты парковки</span>
					<div class="transmission-article_links">
						<a href="#">Перейти</a>
						<a href="#">Другие программы</a>
					</div>
				</div>

				<div class="transmission-article" id="article-5">
					<p>Габариты</p>
					<span>И секреты парковки</span>
					<div class="transmission-article_links">
						<a href="#">Перейти</a>
						<a href="#">Другие программы</a>
					</div>
				</div>

				<div class="transmission-num num-pos-3" id="num-6">
					<div class="transmission-num_item">
						<div class="transmission-num_number">6</div>
						<div class="transmission-num_line">
							<div class="transmission-num_pb" id="numPb-6"></div>
						</div>
					</div>
				</div>

			</div>

			<div class="transmission-item" id="tr-3">

				<div class="transmission-article" id="article-6">
					<p>Габариты</p>
					<span>И секреты парковки</span>
					<div class="transmission-article_links">
						<a href="#">Перейти</a>
						<a href="#">Другие программы</a>
					</div>
				</div>

			</div>

		</div>
	</div>

.schedule
	form
		.schedule-sort
			.schedule-sort_img
				img(src="img/big-logo.png")
			.schedule-sort_inner     
				.schedule-sort_inner__item
					.schedule-selectCity_wrap
						span Выберите город:
						.schedule-selectCity
							p Екатеринбург
							ul.schedule-selectCity_dropDown
								li Москва
								li Самара
								li Омск 
								li Москва
								li Самара
								li Омск   
								li Москва
								li Самара
								li Омск   
								li Москва
								li Самара
								li Омск 
								li Москва
								li Самара
								li Омск   
								li Москва
								li Самара
								li Омск     

				.schedule-sort_inner__item
					ul.shedule-lessons
						li.active Безопасный стиль управления
						li Активные приемы управления
						li Школа дрифта
					ul.shedule-lessons    
						li Габариты и секреты парковки
						li Школа скольжения и вращения
						li Контраварийная подготовка



		.schedule-slider_wrap
			.schedule-slider_wrap__item
				.schedule-slider.owl-carousel
					.schedule-slider_item
						<div class="schedule-slider_date">
							| Январь 2019
						</div>
						<div class="calendar">
							<div class="calendar-line_1"></div>
							<div class="calendar-line_2"></div>
							<div class="calendar-line_3"></div>
							<div class="calendar-line_4"></div>
							<div class="calendar-inner">
								<div class="calendar-inner_item"><a class="click-active" href=""><span>1</span></a></div>
								<div class="calendar-inner_item"><a><span>2</span></a></div>
								<div class="calendar-inner_item"><a class="click-active"><span>3</span></a></div>
								<div class="calendar-inner_item"><a class="free-active"><span>4</span></a></div>
								<div class="calendar-inner_item"><a><span>5</span></a></div>
								<div class="calendar-inner_item"><a><span>6</span></a></div>
								<div class="calendar-inner_item"><a><span>7</span></a></div>
								<div class="calendar-inner_item"><a><span>8</span></a></div>
								<div class="calendar-inner_item"><a><span>9</span></a></div>
								<div class="calendar-inner_item"><a><span>10</span></a></div>
								<div class="calendar-inner_item"><a><span>11</span></a></div>
								<div class="calendar-inner_item"><a><span>12</span></a></div>
								<div class="calendar-inner_item"><a><span>13</span></a></div>
								<div class="calendar-inner_item"><a><span>14</span></a></div>
								<div class="calendar-inner_item"><a><span>15</span></a></div>
								<div class="calendar-inner_item"><a><span>16</span></a></div>
								<div class="calendar-inner_item"><a><span>17</span></a></div>
								<div class="calendar-inner_item"><a><span>18</span></a></div>
								<div class="calendar-inner_item"><a><span>19</span></a></div>
								<div class="calendar-inner_item"><a><span>20</span></a></div>
								<div class="calendar-inner_item"><a><span>21</span></a></div>
								<div class="calendar-inner_item"><a><span>22</span></a></div>
								<div class="calendar-inner_item"><a><span>23</span></a></div>
								<div class="calendar-inner_item"><a><span>24</span></a></div>
								<div class="calendar-inner_item"><a><span>25</span></a></div>
								<div class="calendar-inner_item"><a><span>26</span></a></div>
								<div class="calendar-inner_item"><a><span>27</span></a></div>
								<div class="calendar-inner_item"><a><span>28</span></a></div>
								<div class="calendar-inner_item"><a><span>29</span></a></div>
								<div class="calendar-inner_item"><a><span>30</span></a></div>
								<div class="calendar-inner_item"><a><span>31</span></a></div>
							</div>    
						</div>
					.schedule-slider_item
						|2


			.schedule-slider_wrap__item
				.schedule-slider_form
					p.schedule-timeFree Свободное время для записи
					.schedule-timeBox#dec-4
						.schedule-timeBox_item.active
							|8:00 - 10:00
						.schedule-timeBox_item
							|13:00 - 14:00
						.schedule-timeBox_item
							|15:00 - 16:00
						.schedule-timeBox_item
							|18:00 - 19:00
					.schedule-submitBox        
						.schedule-inp
							label
								input(type="text" placeholder="Введите имя*")
							label
								input(type="text" placeholder="Номер телефона*")
						.schedule-btnBox
							.schedule-btnBox_item
								p подробности уточняйте по номеру:
								a(href="tel:+74951270927") 
									span +7 (495) 
									|127-09-27
							.schedule-btnBox_item
								button.btn.schedule-btn(type="submit") Записаться         




.aboutUs
	.aboutUs-smokeBg
	.aboutUs-imgBg
		img(src="img/car.jpg")
	.aboutUs-inner
		.aboutUs-title
			p Мастер 
				i Класс:
			span водительские тренинги для новичков и профессиональных водителей
		.aboutUs-list
			ol
				li.wow.fadeInDown(data-wow-delay="0.2s")
					p Уже 
						b более 25 лет 
						|мы учим людей управлять автомобилем уверено, надежно и безопасно.
					span Мы умеем работать не только с опытными и профессиональными водителями, но и с абсолютными новичками.
				li.wow.fadeInDown(data-wow-delay="0.4s")
					p Почти все тренинги по вождению проходят 
						b на нашем 
						|огромном 
						b автодроме.
					span Мы твердо убеждены, что заниматься необходимо на том автомобиле, на котором вы ездите. Но при необходимости наши партнеры предоставят машину в аренду.  
				li.wow.fadeInDown(data-wow-delay="0.6s")
					p 
						b Наша миссия - сделать дороги, 
						|по которым мы ездим, 
						b безопаснее 
						|в целом.
					span Цель занятий с вами - сделать их безопаснее именно для вас    




.newsBlock
	.newsBlock-title
		p новости и акции
	.newsBlock-slider.owl-carousel
		.newsBlock-slider_item
			a(href="#")
				.newsBlock-slider_hover
					.newsBlock-slider_text
						p 
							b Скидка
						p Первое занятие
							b -30%
				.newsBlock-slider_img
					img(src="img/slide-1.jpg")
		.newsBlock-slider_item
			a(href="#")
				.newsBlock-slider_hover
					.newsBlock-slider_text
						p 
							b Скидка
						p Первое занятие
							b -30%
				.newsBlock-slider_img
					img(src="img/slide-1.jpg")
		.newsBlock-slider_item
			a(href="#")
				.newsBlock-slider_hover
					.newsBlock-slider_text
						p 
							b Скидка
						p Первое занятие
							b -30%
				.newsBlock-slider_img
					img(src="img/slide-1.jpg")
		.newsBlock-slider_item
			a(href="#")
				.newsBlock-slider_hover
					.newsBlock-slider_text
						p 
							b Скидка
						p Первое занятие
							b -30%
				.newsBlock-slider_img
					img(src="img/slide-1.jpg")




.lettersBlock
	.lettersBlock-title
		p благодарственные 
			span письма:
	.letters-slider.owl-carousel
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
