.newsBlock
	.newsBlock-title
		p новости и акции
	.newsBlock-slider.owl-carousel
		.newsBlock-slider_item
			a(href="#")
				.newsBlock-slider_hover
					.newsBlock-slider_text
						p 
							b Скидка
						p Первое занятие
							b -30%
				.newsBlock-slider_img
					img(src="img/slide-1.jpg")
		.newsBlock-slider_item
			a(href="#")
				.newsBlock-slider_hover
					.newsBlock-slider_text
						p 
							b Скидка
						p Первое занятие
							b -30%
				.newsBlock-slider_img
					img(src="img/slide-1.jpg")
		.newsBlock-slider_item
			a(href="#")
				.newsBlock-slider_hover
					.newsBlock-slider_text
						p 
							b Скидка
						p Первое занятие
							b -30%
				.newsBlock-slider_img
					img(src="img/slide-1.jpg")
		.newsBlock-slider_item
			a(href="#")
				.newsBlock-slider_hover
					.newsBlock-slider_text
						p 
							b Скидка
						p Первое занятие
							b -30%
				.newsBlock-slider_img
					img(src="img/slide-1.jpg")




.lettersBlock
	.lettersBlock-title
		p благодарственные 
			span письма:
	.letters-slider.owl-carousel
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
