.aboutUs
	.aboutUs-inner
		.aboutUs-title
			p Мастер 
				i Класс:
			span водительские тренинги для новичков и профессиональных водителей
		.aboutUs-list
			ol
				li.wow.fadeInDown(data-wow-delay="0.2s")
					p Уже 
						b более 25 лет 
						|мы учим людей управлять автомобилем уверено, надежно и безопасно.
					span Мы умеем работать не только с опытными и профессиональными водителями, но и с абсолютными новичками.
				li.wow.fadeInDown(data-wow-delay="0.4s")
					p Почти все тренинги по вождению проходят 
						b на нашем 
						|огромном 
						b автодроме.
					span Мы твердо убеждены, что заниматься необходимо на том автомобиле, на котором вы ездите. Но при необходимости наши партнеры предоставят машину в аренду.  
				li.wow.fadeInDown(data-wow-delay="0.6s")
					p 
						b Наша миссия - сделать дороги, 
						|по которым мы ездим, 
						b безопаснее 
						|в целом.
					span Цель занятий с вами - сделать их безопаснее именно для вас    




.newsBlock
	.newsBlock-title
		p новости и акции
	.newsBlock-slider.owl-carousel
		.newsBlock-slider_item
			a(href="#")
				.newsBlock-slider_hover
					.newsBlock-slider_text
						p 
							b Скидка
						p Первое занятие
							b -30%
				.newsBlock-slider_img
					img(src="img/slide-1.jpg")
		.newsBlock-slider_item
			a(href="#")
				.newsBlock-slider_hover
					.newsBlock-slider_text
						p 
							b Скидка
						p Первое занятие
							b -30%
				.newsBlock-slider_img
					img(src="img/slide-1.jpg")
		.newsBlock-slider_item
			a(href="#")
				.newsBlock-slider_hover
					.newsBlock-slider_text
						p 
							b Скидка
						p Первое занятие
							b -30%
				.newsBlock-slider_img
					img(src="img/slide-1.jpg")
		.newsBlock-slider_item
			a(href="#")
				.newsBlock-slider_hover
					.newsBlock-slider_text
						p 
							b Скидка
						p Первое занятие
							b -30%
				.newsBlock-slider_img
					img(src="img/slide-1.jpg")




.lettersBlock
	.lettersBlock-title
		p благодарственные 
			span письма:
	.letters-slider.owl-carousel
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
