.inner-top
	video(autoplay muted loop)
		source(src="video/drift.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
	.inner-cont
		.main-title_news.main-title_news__page
			.breadcrumbs
				a(href="#") Новости
				a Заголовок
			.page-title
				h1.main-title Заголовок 
				.page-date 10.05.19

.page.inner-cont.news-article
	.page-hashteg
		a(href="#") #Заголовок 
		a(href="#") #Тегиотносящиесяктексту
	.page-inner
		.page-imgMin
			img(src="img/page-img-min.jpg")

		p Программа «Безопасный стиль управления» разработана специально для водителей неуверенно чувствующих себя в городе. 

		p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении после завершения этого курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу.

		p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. 

		p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу.  

		p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. 

		p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении после завершения этого курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу.

		p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. 

		p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу.  

		p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. 

		.page-imgCont
			img(src="img/page-img-big.jpg")
			.page-imgCont_article На фото текст текст текст

		.article-title Подзаголовок

		p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. 

		p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу.  
	.page-social
		span Мы в социальных сетях 	
		.social
			a(href="#").vk-social
				img(src="img/vk-footer.png")
			a(href="#").fb-social
				img(src="img/b-fb.png")
			a(href="#").inst-social
				img(src="img/b-inst.png")
		a(href="#").btn.recallForm-btn К новостям				
include letters.pug
