.inner-top
	video(autoplay muted loop)
		source(src="video/drift.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
	.inner-cont
		h1.main-title.blog-title.main-title_news Блог 
			span Мастер Класса

.blog
	.inner-cont
		.contTabs
			a.contTabs-btn.contTabs-author(href="#tab-cont_1") Автор программ
			a.contTabs-btn(href="#tab-cont_2") Блог

		.contTabs-cont#tab-cont_1
			.inner-cont
				.headmaster
					.headmaster-item
						.headmaster-img
							img(src="img/headmaster.jpg")
					.headmaster-item
						h2.article-title Алексей Колонтай
						.headmaster-about
							span преподаватель
							span стаж 30 лет
						.news-article
							p Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем
							p Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем. Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблемУверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем
							p Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем

						.headmaster-phone
							p контактный номер для связи
							a(href="tel:74951270927") +7 (495) 
								span 127-09-27

			.programsArticle
				.programsArticle-inner
					h2.article-title подробнее о программах
					.programsArticle-tabs#programsArticle-tabs
						a(href="#programTab-1") Цель
						a(href="#programTab-2") Для кого
						a(href="#programTab-3") Длительность<br> занятий
						a(href="#programTab-4") Автомобиль<br> для занятий
						a(href="#programTab-5") Место<br> проведения
						a(href="#programTab-6") Способы<br> оплаты
					.programsArticle-tabs_cont#programTab-1
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей неуверенно чувствующих себя в городе. (тест 1)
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу.
					.programsArticle-tabs_cont#programTab-2
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей неуверенно чувствующих себя в городе. 
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. (тест 2)
					.programsArticle-tabs_cont#programTab-3
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей неуверенно чувствующих себя в городе. 
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. (тест 3)
					.programsArticle-tabs_cont#programTab-4
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей неуверенно чувствующих себя в городе. 
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. (тест 4)
					.programsArticle-tabs_cont#programTab-5
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей неуверенно чувствующих себя в городе. 
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. (тест 5)
					.programsArticle-tabs_cont#programTab-6
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей неуверенно чувствующих себя в городе. 
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения этого курса вы сможете безопасно передвигаться по городу. (тест 6)
					a(href="#").btn.programsArticle-btn Перейти к программам								

			include form.pug		




		.contTabs-cont#tab-cont_2
			.inner-cont
				ul.blog-list.blog-list_mob
					li
						|Тема
					li
						a(href="#") Заголовок
					li
						a(href="#") Заголовок
					li
						a(href="#") Заголовок
					li
						a(href="#") Заголовок
					li
						a(href="#") Заголовок	
			.news-wrap
				.blog-content.airSticky_stop-block
					.blog-content_item.previews
						.news
							.news-item.news-thumb
								.news-img
									img(src="img/bg-min.jpg")
							.news-item
								h2.article-title.article-title_arrow #Заголовок
								.news-item_inner
									.article-date 10.05.19
									.article-hash #Заголовок #Тегиотносящиеся к тексту
								.news-article.news-article_des
									p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
									p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
								.news-content_hidden
									.news-content_hidden__img
										img(src="img/bg-img.jpg")     
									.news-article
										p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
										p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
										p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
										p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
									.article-link
										a(href="#").btn.recallForm-btn Подробнее 

						.news
							.news-item.news-thumb
								.news-img
									img(src="img/bg-min.jpg")
							.news-item
								h2.article-title.article-title_arrow #Заголовок
								.article-date 10.05.19
								.news-article.news-article_des
									p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
									p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
								.news-content_hidden
									.news-content_hidden__img
										img(src="img/bg-img.jpg")     
									.news-article
										p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
										p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
										p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
										p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
									.article-link
										a(href="#").btn.recallForm-btn Подробнее

						.news
							.news-item.news-thumb
								.news-img
									img(src="img/bg-min.jpg")
							.news-item
								h2.article-title.article-title_arrow #Заголовок
								.news-item_inner
									.article-date 10.05.19
									.article-hash #Заголовок #Тегиотносящиеся к тексту
								.news-article.news-article_des
									p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
									p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
								.news-content_hidden
									.news-content_hidden__img
										img(src="img/bg-img.jpg")     
									.news-article
										p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
										p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
										p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
										p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
									.article-link
										a(href="#").btn.recallForm-btn Подробнее

						.news
							.news-item.news-thumb
								.news-img
									img(src="img/bg-min.jpg")
							.news-item
								h2.article-title.article-title_arrow #Заголовок
								.news-item_inner
									.article-date 10.05.19
									.article-hash #Заголовок #Тегиотносящиеся к тексту
								.news-article.news-article_des
									p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
									p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
								.news-content_hidden
									.news-content_hidden__img
										img(src="img/bg-img.jpg")     
									.news-article
										p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
										p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
										p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
										p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
									.article-link
										a(href="#").btn.recallForm-btn Подробнее                                        

						.news
							.news-item.news-thumb
								.news-img
									img(src="img/bg-min.jpg")
							.news-item
								h2.article-title.article-title_arrow #Заголовок
								.news-item_inner
									.article-date 10.05.19
									.article-hash #Заголовок #Тегиотносящиеся к тексту
								.news-article.news-article_des
									p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
									p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
								.news-content_hidden
									.news-content_hidden__img
										img(src="img/bg-img.jpg")     
									.news-article
										p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
										p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
										p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
										p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
									.article-link
										a(href="#").btn.recallForm-btn Подробнее   
					.blog-content_item.blog-menu
						#airSticky
							ul.blog-list
								li
									|Тема
								li
									a(href="#") Заголовок
								li
									a(href="#") Заголовок
								li
									a(href="#") Заголовок
								li
									a(href="#") Заголовок
								li
									a(href="#") Заголовок	

				include pagination.pug
include letters.pug
