.lettersBlock
	.lettersBlock-title
		p благодарственные 
			span письма:
	.letters-slider.owl-carousel
		.letters-slider_item
			p от ВС России
			.letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			.letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			.letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			.letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			.letters-slider_img
				img(src="img/slide-2.jpg")
