.inner-top
	video(autoplay muted loop)
		source(src="video/drift.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
	.inner-cont
		h1.main-title.main-title_news Контакты

.contacts
	.contacts-top
		.inner-cont
			.contacts-top_item
				.contacts-top_phone
					.article-title Телефон:
					a(href="tel:74951270927") +7 (495) 127-09-27
					a(href="tel:74952337751") +7 (495) 233-77-51
					a(href="tel:79852337751") +7 (985) 233-77-51
				.contacts-top_adress
					.article-title Адреса полигонов:
					ul.map-tabLink
						li
							a(href=".contacts-map-1").active г.Москва, 
								b ул.Перовская,д.61/2, стр.1d
						li
							a(href=".contacts-map-2") г.Москва, 
								b ул.Перовская,д.61/2, стр.1
						li
							a(href=".contacts-map-3") г.Москва, 
								b ул.Перовская,д.61/2, стр.1

			.contacts-top_item#contacts-map
				.contacts-map_inner.map-cont.contacts-map-1#contacts-map-1
				.contacts-map_inner.map-cont.contacts-map-2#contacts-map-2
				.contacts-map_inner.map-cont.contacts-map-3#contacts-map-3



	.contacts-middle
		.inner-cont
			.contacts-middle_item.contacts-map_inner.contacts-map-1
				.article-title проезд<br> на Мячково
				p.contacts-middle_adress  г.Москва, 
					b ул.Перовская,д.61/2, стр.1
				.contacts-middle_tabLink#cm-tabLink_1
					a(href="#passage-1").active Проезд на автомобиле
					a(href="#passage-2") Проезд на общественном транспорте
				.contacts-middle_tabCont.cm-tabCont#passage-1
					p Двигайтесь 16 км от МКАД по Новорязанскому шоссе. Через 500 метров после поста ДПС, светофора и съезда на Жуковский вы увидите синий указатель с надписью «Мячково», после которого нужно повернуть направо. Ещё примерно 2 км — и перед вами въезд на территорию автодрома. Или просто введите в "Яндекс.Навигаторе" словосочетание 
						span "Автодром АДМ".
				.contacts-middle_tabCont.cm-tabCont#passage-2
					p Двигайтесь 16 км от МКАД по Новорязанскому шоссе. Через 500 метров после поста ДПС, светофора и съезда на Жуковский вы увидите синий указатель с надписью «Мячково», после которого нужно повернуть направо. Ещё примерно 2 км — и перед вами въезд на территорию автодрома. Или просто введите в "Яндекс.Навигаторе" словосочетание 
						span "Автодром АДМ".
				.contacts-middle_route
					b Построение маршрута в навигаторе
					p Адрес для навигатора: в Яндекс.Карты 
						span для построения маршрута в навигаторе 
						|введите координаты 
						span 55.6230 37.8746 
						i (без запятой с одиночным пробелом)
			.contacts-middle_item.contacts-map_inner.contacts-map-2
				.article-title проезд<br> на Мячково
				p.contacts-middle_adress  г.Москва, 
					b ул.Перовская,д.61/2, стр.1
				.contacts-middle_tabLink#cm-tabLink_2
					a(href="#passage-1-2").active Проезд на автомобиле
					a(href="#passage-2-2") Проезд на общественном транспорте
				.contacts-middle_tabCont.cm-tabCont-2#passage-1-2
					p Двигайтесь 16 км от МКАД по Новорязанскому шоссе. Через 500 метров после поста ДПС, светофора и съезда на Жуковский вы увидите синий указатель с надписью «Мячково», после которого нужно повернуть направо. Ещё примерно 2 км — и перед вами въезд на территорию автодрома. Или просто введите в "Яндекс.Навигаторе" словосочетание 
						span "Автодром АДМ".
				.contacts-middle_tabCont.cm-tabCont-2#passage-2-2
					p Двигайтесь 16 км от МКАД по Новорязанскому шоссе. Через 500 метров после поста ДПС, светофора и съезда на Жуковский вы увидите синий указатель с надписью «Мячково», после которого нужно повернуть направо. Ещё примерно 2 км — и перед вами въезд на территорию автодрома. Или просто введите в "Яндекс.Навигаторе" словосочетание 
						span "Автодром АДМ".
				.contacts-middle_route
					b Построение маршрута в навигаторе
					p Адрес для навигатора: в Яндекс.Карты 
						span для построения маршрута в навигаторе 
						|введите координаты 
						span 55.6230 37.8746 
						i (без запятой с одиночным пробелом)
			.contacts-middle_item.contacts-map_inner.contacts-map-3
				.article-title проезд<br> на Мячково
				p.contacts-middle_adress  г.Москва, 
					b ул.Перовская,д.61/2, стр.1
				.contacts-middle_tabLink#cm-tabLink_3
					a(href="#passage-1-3").active Проезд на автомобиле
					a(href="#passage-2-3") Проезд на общественном транспорте
				.contacts-middle_tabCont.cm-tabCont-3#passage-1-3
					p Двигайтесь 16 км от МКАД по Новорязанскому шоссе. Через 500 метров после поста ДПС, светофора и съезда на Жуковский вы увидите синий указатель с надписью «Мячково», после которого нужно повернуть направо. Ещё примерно 2 км — и перед вами въезд на территорию автодрома. Или просто введите в "Яндекс.Навигаторе" словосочетание 
						span "Автодром АДМ".
				.contacts-middle_tabCont.cm-tabCont-3#passage-2-3
					p Двигайтесь 16 км от МКАД по Новорязанскому шоссе. Через 500 метров после поста ДПС, светофора и съезда на Жуковский вы увидите синий указатель с надписью «Мячково», после которого нужно повернуть направо. Ещё примерно 2 км — и перед вами въезд на территорию автодрома. Или просто введите в "Яндекс.Навигаторе" словосочетание 
						span "Автодром АДМ".
				.contacts-middle_route
					b Построение маршрута в навигаторе
					p Адрес для навигатора: в Яндекс.Карты 
						span для построения маршрута в навигаторе 
						|введите координаты 
						span 55.6230 37.8746 
						i (без запятой с одиночным пробелом)
	.contacts-bottom
		.inner-cont
			.contacts-bottom_item
				a(href="#").btn.recallForm-btn.modal-show Заказать звонок
				p.contacts-bottom_btnArticle Вы можете заказать звонок, наш менеджер перезвонит вам в ближайшее время
				.social
					a(href="#").vk-social
						img(src="img/vk-footer.png")
					a(href="#").fb-social
						img(src="img/b-fb.png")
					a(href="#").inst-social
						img(src="img/b-inst.png")
			.contacts-bottom_item
				p 
					b Адрес для навигатора:  
					|Автодром АДМ
				p Дрифт и спортивные программы проходят на "Гоночной трассе Мячково"	









	include form.pug
include letters.pug
