.inner-top
	video(autoplay muted loop)
		source(src="video/drift.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
.inner-cont
	h1.main-title.main-title_news О компании
.aboutCompany
	.inner-cont.logo-bg
		.logo-bg_img#contParralax
			img(src="img/logo_circle.png")
		.aboutCompany-advantage
			.aboutCompany-advantage_item.wow.fadeInDown(data-wow-delay="0.2s")
				.aboutCompany-advantage_img
					img(src="img/car.png")
				.aboutCompany-advantage_title
					span 25 
					b лет		
				p Мы умеем работать не только с опытными и профессиональными водителями, но и 
					b с абсолютными новичками.
				a(href="#").btn.recallForm-btn Посмотреть программы	
			.aboutCompany-advantage_item.wow.fadeInDown(data-wow-delay="0.4s")
				.aboutCompany-advantage_img
					img(src="img/flag.png")
				.aboutCompany-advantage_title
					|собственный <br>автодром			
				p Мы твердо убеждены, что заниматься необходимо на том автомобиле, на котором вы ездите. Но при необходимости наши партнеры предоставят 
					b машину в аренду.
				a(href="#").btn.recallForm-btn Наши контакты
			.aboutCompany-advantage_item.wow.fadeInDown(data-wow-delay="0.6s")
				.aboutCompany-advantage_img
					img(src="img/road.png")
				.aboutCompany-advantage_title
					|миссия			
				p 
					b Сделать дороги, 
					|по которым мы ездим, 
					b безопаснее 
					|в целом.
				p Цель занятий с вами - сделать дороги безопаснее именно для вас
				a(href="#").btn.recallForm-btn проконсультироваться
		.news-article
			p Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем
			p Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблемУверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем Уверенное самостоятельное движение в городе. Обгоны, перестроения, повороты и перекрестки без проблем
		.aboutCompany-phone
			p контактный номер для связи
			a(href="tel:74951270927") +7 (495) 
				b 127-09-27 	
	.aboutCompany-slider_wrap
		.inner-cont
			p.article-title преподаватели:
			.aboutCompany-slider.owl-carousel
				.aboutCompany-slider_item
					.aboutCompany-slider_img
						img(src="img/master.jpg")
					p.master-name Корнак Александр
					p.master-exp Стаж 15 лет
					.master-article
						.master-article_inner Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante
						button(type="button").master-article_btn Подробнее
					.master-courseList
						p Преподаватель курсов
						ul
							li 
								a(href="#") - “Безопасный стиль управления”
							li 
								a(href="#") -  “Безопасный стиль управления”
							li 
								a(href="#") - “Безопасный стиль управления”
							li 
								a(href="#") -  “Безопасный стиль управления”
						button.master-courseList_btn(type="button") Еще курсы

				.aboutCompany-slider_item
					.aboutCompany-slider_img
						img(src="img/master.jpg")
					p.master-name Корнак Александр
					p.master-exp Стаж 15 лет
					.master-article
						.master-article_inner Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante
						button(type="button").master-article_btn Подробнее
					.master-courseList
						p Преподаватель курсов
						ul
							li 
								a(href="#") - “Безопасный стиль управления”
							li 
								a(href="#") -  “Безопасный стиль управления”
							li 
								a(href="#") - “Безопасный стиль управления”
							li 
								a(href="#") -  “Безопасный стиль управления”
						button.master-courseList_btn(type="button") Еще курсы
								
				.aboutCompany-slider_item
					.aboutCompany-slider_img
						img(src="img/master.jpg")
					p.master-name Корнак Александр
					p.master-exp Стаж 15 лет
					.master-article
						.master-article_inner Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante
						button(type="button").master-article_btn Подробнее
					.master-courseList
						p Преподаватель курсов
						ul
							li 
								a(href="#") - “Безопасный стиль управления”
							li 
								a(href="#") -  “Безопасный стиль управления”
							li 
								a(href="#") - “Безопасный стиль управления”
							li 
								a(href="#") -  “Безопасный стиль управления”
						button.master-courseList_btn(type="button") Еще курсы
										
				.aboutCompany-slider_item
					.aboutCompany-slider_img
						img(src="img/master.jpg")
					p.master-name Корнак Александр
					p.master-exp Стаж 15 лет
					.master-article
						.master-article_inner Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante
						button(type="button").master-article_btn Подробнее
					.master-courseList
						p Преподаватель курсов
						ul
							li 
								a(href="#") - “Безопасный стиль управления”
							li 
								a(href="#") -  “Безопасный стиль управления”
							li 
								a(href="#") - “Безопасный стиль управления”
							li 
								a(href="#") -  “Безопасный стиль управления”
						button.master-courseList_btn(type="button") Еще курсы
	.aboutCompany-history
		.aboutCompany-history_inner
			.aboutCompany-history_title
				p.article-title наша История 
			ul.aboutCompany-history_list
				li 
					.aboutCompany-history_date 2019 
						span г
					.aboutCompany-history_hidden
						b новый автодром
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей 
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
				li 
					.aboutCompany-history_date 2010 
						span г
					.aboutCompany-history_hidden
						b новый автодром
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей 
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.	
				li 
					.aboutCompany-history_date 2007
						span г
					.aboutCompany-history_hidden
						b новый автодром
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей 
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
				li 
					.aboutCompany-history_date 2007
						span г
					.aboutCompany-history_hidden
						b новый автодром
						.news-article
							p Программа «Безопасный стиль управления» разработана специально для водителей 
							p Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершения передвигаться по городу. Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.						
			.aboutCompany-history_btn
				button(type="button").aboutCompany-history_next Показать все


include form.pug
include letters.pug
