.inner-top
	video(autoplay muted loop)
		source(src="video/drift.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
	.inner-cont
		h1.main-title.main-title_news Новости

.inner-cont
	.news-wrap.previews
		.news
			.news-item.news-thumb
				.news-img
					img(src="img/news-img-min.jpg")
			.news-item
				h2.article-title.article-title_arrow Заголовок
				.article-date 10.05.19
				.news-article.news-article_des
					p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
					p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
				.news-content_hidden
					.news-content_hidden__img
						img(src="img/news-img.jpg")     
					.news-article
						p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
						p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
						p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
						p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
					.article-link
						a(href="#").btn.recallForm-btn Подробнее

		.news
			.news-item.news-thumb
				.news-img
					img(src="img/news-img-min.jpg")
			.news-item
				h2.article-title.article-title_arrow Заголовок
				.article-date 10.05.19
				.news-article.news-article_des
					p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
					p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
				.news-content_hidden
					.news-content_hidden__img
						img(src="img/news-img.jpg")     
					.news-article
						p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
						p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
						p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
						p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
					.article-link
						a(href="#").btn.recallForm-btn Подробнее

		.news
			.news-item.news-thumb
				.news-img
					img(src="img/news-img-min.jpg")
			.news-item
				h2.article-title.article-title_arrow Заголовок
				.article-date 10.05.19
				.news-article.news-article_des
					p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
					p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
				.news-content_hidden
					.news-content_hidden__img
						img(src="img/news-img.jpg")     
					.news-article
						p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
						p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
						p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
						p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
					.article-link
						a(href="#").btn.recallForm-btn Подробнее

		.news
			.news-item.news-thumb
				.news-img
					img(src="img/news-img-min.jpg")
			.news-item
				h2.article-title.article-title_arrow Заголовок
				.article-date 10.05.19
				.news-article.news-article_des
					p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
					p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
				.news-content_hidden
					.news-content_hidden__img
						img(src="img/news-img.jpg")     
					.news-article
						p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
						p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
						p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
						p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
					.article-link
						a(href="#").btn.recallForm-btn Подробнее                                         

		.news
			.news-item.news-thumb
				.news-img
					img(src="img/news-img-min.jpg")
			.news-item
				h2.article-title.article-title_arrow Заголовок
				.article-date 10.05.19
				.news-article.news-article_des
					p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
					p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
				.news-content_hidden
					.news-content_hidden__img
						img(src="img/news-img.jpg")     
					.news-article
						p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
						p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
						p Программа «Безопасный стиль управления» разработана специально для водителей неу Не важно, новичок вы за рулем или у вас был долгий перерыв в вождении — после завершенияпередвигаться по городу. 
						p Не важно, новичок вы за рулем или у вас был долгий перерыв в курса вы сможете безопасно передвигаться по городу. Не важно, новичок вы за рулем или  — после завершения этого курса вы сможете безопасно передвигаться по городу.
					.article-link
						a(href="#").btn.recallForm-btn Подробнее   
		include pagination.pug
include letters.pug
