.footer
	.footer-item
		a(href="#").footer-logo
			p Мастер 
				span Класс
			p Водительские тренинги
		a(href="#").privacy-link Политика конфидециальности
		a(href="#").privacy-link Договор оферты

	.footer-item
		.footer-item_top
			p.footer-adress.header-adress г.Москва, 
				b ул.Перовская,д.61/2, стр.1
			.footer-contact
				.footer-contact_left
					p Единый многоканальный номер
					p Телефон в Москве
				.footer-contact_phones
					ul
						li
							a(href="tel:+74951270927")|+7 (495) 
								span
									|127-09-27
						li
							a(href="tel:+74952337751")|+7 (495) 
								span 
									|233-77-51
						li
							a(href="tel:+79852337751")|+7 (985) 
								span 
									|233-77-51

				a(href="#").btn.footer-btn.modal-show Перезвонить мне	

		.footer-item_bottom
			nav.footer-nav
				ul
					li
						a(href="#") О компании
					li
						a(href="#") Программы  
					li
						a(href="#") Акции и новости  
					li
						a(href="#") БЛОГ МастерКласса
					li
						a(href="#") Контакты
			.footer-fixed_links.header-fixed_links
				a(href="mailto:sales@m-class.ru").footer-email.header-email sales@m-class.ru
				span.request-link Заявка
				.checkTypeInt.checkTypeInt-footer
					a(href="#") Физ.лица
					a(href="#") Юр.лица
				.social
					a(href="#").vk-social
						img(src="img/vk-footer.png")
					a(href="#").fb-social
						img(src="img/b-fb.png")
					a(href="#").inst-social
						img(src="img/b-inst.png")



include footer-modals.pug
script(src="https://api-maps.yandex.ru/2.1/?lang=tr_TR")
script(src="libs/jquery/jquery.min.js")
script(src="libs/parallax/parallax.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js")
script(src="libs/selectric/jquery.selectric.min.js")
script(src="libs/owl.carusel-2.3.4/owl.carousel.min.js")
script(src="libs/simplebox/simplebox.js")
script(src="libs/simplebox/simplebox_util.js")
script(src="libs/wow/wow.js")
script(src="js/jquery.maskedinput.min.js")
script(src="libs/jquery-ui-select/jquery-ui.min.js")


script(src="js/common.js")
