.recallForm-wrap
	.recallForm
		form(action="#")
			h2.article-title Задать вопрос
			.recallForm-inner
				.recallForm-inner_item
					input(placeholder="Введите имя*" required)
					input(placeholder="Номер телефона*" required).recallForm-phone
					input(placeholder="E-mail" type="email")
					.recallForm-capcha
						img(src="img/capcha.jpg")

				.recallForm-inner_item
					textarea(placeholder="Комментарий")
					p Нажав на кнопку «Отправить» Вы соглашаетесь с условиями 
						a(href="#") публичной оферты 
						|и с условиями Политики обработки 
						a(href="#") персональных данных
					button.btn.recallForm-btn(type="submit") Отправить		
