.header
	.header-top
		.header-top_inner
			.header-top_item
				img(src="img/main-logo.png")
			.header-top_item
				p г.Москва, ул.Перовская,д.61/2, стр.1
			.header-top_item
				a(href="#").header-email sales@m-class.ru
				a(href="#").header-phone
					|+7(495)
					span 127-09-27
				a(href="#").btn.header-btn Перезвонить с сайта
	.header-fixed
		.header-fixed_inner
			nav
				ul
					li
						a(href="#") О компании
					li
						a(href="#") Программы  
					li
						a(href="#") Акции и новости  
					li
						a(href="#") БЛОГ МастерКласса
					li
						a(href="#") Контакты
		.header-fixed_links
			a(href="#") Заявка
			.checkTypeint
				a(href="#") Физ.лица
				a(href="#") Юр.лица
			.social
				a(href="#").vk-social
				a(href="#").fb-social
				a(href="#").inst-social   
