.lettersBlock
	.lettersBlock-title
		p благодарственные 
			span письма:
	.letters-slider.owl-carousel
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
		.letters-slider_item
			p от ВС России
			a(rel="simplebox" href="img/slide-2.jpg").letters-slider_img
				img(src="img/slide-2.jpg")
